<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Faça Cadastro</ion-title>
    <ion-icon name="chatbubbles" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!dastro.sended">
    <p>Cadastre Seus trecos Aqui</p>

    <p>
      <ion-input label="Nome:" type="text" label-placement="floating" fill="outline" placeholder="Nome completo do item"
        [autofocus]="true" [(ngModel)]="dastro.name" error-text="Nome inválido!" required minlength="3"></ion-input>
    </p>

    <p>
      <ion-input label="Descrição:" type="text" label-placement="floating" fill="outline"
        placeholder="Descriçao do treco" [(ngModel)]="dastro.description" error-text="Descrição inválida!"
        required></ion-input>
    </p>

    <p>
      <ion-input label="Localização:" type="text" label-placement="floating" fill="outline"
        placeholder="Localização do treco" [(ngModel)]="dastro.location" error-text="Localização inválida!" required
        minlength="3"></ion-input>
    </p>
    <p>
      <ion-input label="Status:" type="text" label-placement="floating" fill="outline"
        placeholder="Status do treco on / off" [(ngModel)]="dastro.status" error-text="Erro ao preencher Status!"
        required minlength="2"></ion-input>
    </p>

    <p>
      <ion-button type="submit" (click)="sendTreco()" id="present-alert">Enviar</ion-button>
    </p>
  </div>

  <div *ngIf="dastro.sended">
    <h4>Treco cadastrado com sucesso!</h4>
    <p>clique no botao para cadastrar outro</p>
    <p>
      <ion-button type="submit" (click)="refresh()" id="present-alert">
        Atualizar</ion-button>
    </p>
  </div>
</ion-content>