<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ env.appName }}</ion-title>
    <ion-icon name="home" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="things">

    <ion-list>

      <ion-list-header>
        <ion-label>Lista de Trecos</ion-label>
      </ion-list-header>

      <!-- Loop assíncrono para obter cada item da coleção. -->
      <ion-item *ngFor="let thing of things | async">
        <a routerLink="/view/{{ thing.id }}">{{ thing.name }}</a>
      </ion-item>

    </ion-list>

  </div>

</ion-content>