<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tirar Foto</ion-title>
    <ion-icon name="camera" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="!photoURL">

    Clique no botão para tirar uma foto:

    <ion-fab slot="fixed" vertical="center" horizontal="center">
      <ion-fab-button (click)="getPhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>

  <div *ngIf="photoURL" class="ion-text-center">

    <ion-img [src]="photoURL"></ion-img>

    <ion-button *ngIf="!saved" (click)="savePhoto()" color="warning">
      <ion-icon name="save" slot="start"></ion-icon>
      Salvar
    </ion-button>

    <ion-button (click)="refresh()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Nova
    </ion-button>

  </div>

  <div *ngIf="saved">
    <p><strong>URL da imagem: </strong></p>
    <p>{{ savedURL }}</p>
  </div>

</ion-content>